name: Security

on:
  push:
  pull_request:

permissions:
  contents: read

jobs:
  rust-security:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Rust
        uses: dtolnay/rust-toolchain@4be9e76fd7c4901c61fb841f559994984270fce7

      - name: Rust cache
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5

      - name: Install cargo-audit
        run: cargo install cargo-audit --locked

      - name: Cargo audit
        run: cargo audit --deny warnings

  node-security:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: typescript
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd

      - name: Setup Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238
        with:
          node-version: "20"
          cache: "npm"
          cache-dependency-path: typescript/package-lock.json

      - name: Install
        run: npm ci

      - name: NPM audit (high+)
        run: npm audit --audit-level=high
